body {
    background-color: gray;
}
canvas {
    width: 800px;
}
.large {
    background-color: dimgray;
    height: 600px;
}
.graph {
    background-color: lightgray;
    height: 200px;
}
.wide {
    width: 1620px;
}
#controls {
    display: flex;
    width: 800px;
    background-color: lightgrey;
}
#controls button {
    margin-bottom: 5px;
}
.column {
    width: 400px;
    background-color: white;
}
#flex-body {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}
#flex-body canvas, #flex-body div {
    margin: 5px;
    padding: 5px;
}
#confirmResetButton {
    color: white;
    background-color: red;
    border-color: white;
}
.hide {
    display: none;
}